/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* color del sitio */
body {
    background-image: linear-gradient(to bottom, rgb(234, 243, 246), rgb(181, 231, 248));
    font-family: 'Montserrat', sans-serif;
}


/* color del header */
header {
    background: lightblue;
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
}


/* barra de navegacion */
header nav ul {
    list-style: none;
    display: flex;
    gap: 1.1rem;
}

header nav ul li {
    background: lightskyblue;
    padding: 0.40rem;
    border-radius: 0.80rem;
    margin-top: 1.26rem;
    font-weight: bold;
}

header nav ul li a {
    text-decoration: none;
}

.nombre-logo {
    font-weight: bold;
    font-size: 120%;
    margin-top: 0.5rem;
    margin-right: 0.7rem;
    text-decoration: none;
    color: black;
}


/* estilos para la barra de navegacion movile */
.barra-de-navegacion {
    width: 100%;
}


/* logos de registrarse y carrito de compras */
.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.logos img {
    width: 1.8rem;
    height: 1.8rem;
}


/* titulos de las paginas */
main h1 {
    text-align: center;
    background-color: lightskyblue;
    margin-top: 0.32rem;
    margin-bottom: 1.26rem;
}


/* pagina home */
.slider-principal img {
    width: 100%;
    height: 100%;
}


/* slider principal mobie */
.slider-principal-mobie img {
    display: none;
}


/* titulo de las categorias de la home */
.titulo-categorias {
    text-align: center;
    margin: 0.63rem 0 1.26rem 0;
    text-decoration: underline;
    font-size: 190%;
}


/* tamaño de las tarjetas de las categorias de la home */
.tarjeta-categoria {
    width: 33%;
    padding: 0.63rem;
}


/* estilos de las tarjetas Home */
.categorias {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* estilos de textos tarjetas Home */
.texto-tarjeta {
    text-align: center;
    font-weight: bold;
    font-size: 1.26rem;
}


/* cinta de la home */
.cinta {
    background-color: lightskyblue;
    margin-bottom: 1.26rem;
    padding: 0.4rem;
}


/* titulos de las paginas nosotros-tienda-dudas-contacto */
.titulo-sitio,
.tienda-sitio,
.dudas-sitio,
.contacto-sitio {
    margin: 0.32rem 0.32rem 1.26rem 0.32rem;
    text-align: center;
    font-size: 1.7rem;
}


/* estilos Tienda */
.tienda-categorias {
    margin-bottom: 1.26rem;
}


/* estilos de banners de la Tienda */
.banner-tienda-uno img,
.banner-tienda-dos img,
.banner-tienda-tres img {
    width: 100%;
    height: 100%;
}


/* estilos tarjetas Tienda */
.categoria-peces-frios,
.categoria-peces-tropicales,
.categoria-accesorios {
    display: grid;
    grid-template-columns: 0.4fr 0.4fr 0.4fr;
    grid-template-rows: 1fr;
    padding: 2rem;
    justify-items: center;
}

.peces-frios img,
.peces-tropicales img,
.accesorios-peceras img {
    height: 15rem;
}


/* boton de agregar al carrito */
.boton-carrito {
    text-align: center;
    font-size: 1.26rem;
    font-weight: bold;
    background-color: rgb(242, 253, 255);
    border-radius: 2rem;
    padding: 0.5rem 0.2rem 0.5rem 0.2rem;
}


/* titulo del producto */
.descripcion-producto {
    text-align: center;
    font-size: 1.26rem;
    margin-bottom: 0.32rem;
    font-weight: bold;
}


/* titulo del precio */
.titulo-del-precio {
    text-align: center;
    margin-bottom: 0.9rem;
    font-weight: bolder;
}


/* pagina dudas */
.preguntas p {
    text-align: center;
    margin: 3rem 9rem 4rem 9rem;
    font-size: 1rem;
}


/* estilo del contenido de la pagina nosotros*/
.biografia-sitio {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5rem;
}


/* estilo de la imagen de la biografia */
.imagen-biografia img {
    padding: 1rem;
    border-radius: 3.15rem;
    height: 450px;
}


/* pagina nosotros-video de la biografia */
.video-biografia {
    width: 100%;
    margin-right: 2rem;
    border-radius: 3.15rem;
}


/* pagina contacto */
.contacto-uno p {
    font-size: 1rem;
    margin: 2rem 5rem 2rem 5rem;
}


/* estilo del formulario */
.fieldset {
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 21rem;
    border: none;
    gap: 0.32rem;
    margin-top: 1.26rem;
    margin-bottom: 1.89rem;
}

.fieldset input {
    border-radius: 0.51rem;
    border: none;
    padding: 0.38rem;
    outline: none;
    width: 140%;
}

.fieldset .boton-enviar,
.fieldset .boton-borrar {
    padding: 0.76rem;
}


/* estilos de la imagen ubicacion */
.ubicacion-local img {
    width: 40%;
    margin: -40rem 0rem 0rem 40rem;
    border-radius: 2rem;
}

/* estilos del footer */
footer {
    background: lightskyblue;
    padding: 0, 32rem;
}


/* estilo de los link´s del footer */
footer div ul {
    list-style: none;
    padding: 0.19rem;
}


/* estilo del titulos redes sociales */
.block-redes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}


/* titulo del footer */
footer div h2 {
    padding: 0.19rem;
    margin-top: 0.38rem;
    font-size: 1.5rem;
}


/* footer links */
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1.5rem;
}

.footer-links ul li a {
    text-decoration: none;
}


/* footer iconos de los metodos de pagos */

.iconos-pagos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.iconos-pagos img {
    width: 6%;
}


/* footer redes sociales */
.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 18px;
}


/* footer legales */
.footer-legales {
    background: rgb(180, 225, 255);
    text-align: center;
    margin-top: 1.89rem;
}






/* responsive para tablet */


@media screen and (max-width:1130px) {

    /* logos de registrarse y carrito de compras */
    .logos {
        align-items: flex-start;
        gap: 1rem;
        padding-top: 2rem;
    }

    .logos img {
        width: 1.4rem;
        height: 1.4rem;
    }


    /* titulos de las paginas */
    main h1 {
        margin-top: 0.1rem;
    }


    /* pagina home */
    .slider-principal img {
        display: block;
    }


    /* titulo de las categorias de la home */
    .titulo-categorias {
        margin: 0.2rem 0 1.1rem 0;
    }


    /* cinta de la home */
    .cinta {
        font-size: larger;
        padding: 0.5rem;
    }


    /* estilo del contenido de la pagina nosotros*/
    .biografia-sitio {
        margin: 0.32rem 0.32rem 1.26rem 0.32rem;
        text-align: center;
    }


    /* titulos de las paginas nosotros-tienda-dudas-contacto */
    .titulo-sitio,
    .tienda-sitio,
    .dudas-sitio,
    .contacto-sitio {
        font-size: 180%;
    }


    /* estilos tarjetas Tienda */
    .categoria-peces-frios,
    .categoria-peces-tropicales,
    .categoria-accesorios {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .peces-frios img,
    .peces-tropicales img,
    .accesorios-peceras img {
        height: 13rem;
        margin: 0.63rem 0.26rem 1.32rem 0.15rem;
    }



    /* titulo del precio */
    .titulo-del-precio {
        margin-top: 0.5rem;
        margin-bottom: 0.80rem;
    }


    /* boton de agregar al carrito */
    .boton-carrito {
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        background-color: rgb(242, 253, 255);
        border-radius: 2rem;
        padding: 0.5rem 0.2rem 0.5rem 0.2rem;
    }


    /* pagina dudas */
    .preguntas {
        margin-bottom: 2rem;
    }


    /* estilo del contenido de la pagina nosotros*/
    .biografia-sitio {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        padding: 2.5rem;
    }


    /* estilo de la imagen de la biografia */
    .imagen-biografia img {
        padding: 1rem;
        border-radius: 3.15rem;
        height: 450px;
    }


    /* pagina nosotros-video de la biografia */
    .video-biografia {
        width: 100%;
        margin-right: 2rem;
        border-radius: 3.15rem;
    }



    /* estilo del texto de contacto*/
    .contacto-uno p {
        font-size: 1rem;
        margin: 2rem 3rem 2rem 3rem;
    }

    /* estilo del formulario */
    .fieldset {
        width: 12%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        border: none;
        gap: 0.32rem;
    }

    .fieldset input {
        width: 200%;
    }


    /* estilos de la imagen de la ubicación del local */
    .ubicacion-local img {
        width: 60%;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
        border-radius: 2rem;
        display: flex;
    }


    /* estilos del footer */
    footer {
        padding: 0.6rem;
    }



    /* footer links */
    .footer-links {
        display: flex;
        justify-content: center;
        padding: 1.5rem;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }


    /* footer iconos de los metodos de pagos */
    .iconos-pagos img {
        display: flex;
        flex-direction: column;
    }

}




/* responsive para celular */

@media screen and (max-width:768px) {

    /* estilos del nombre del logo */
    .nombre-logo {
        margin-right: 0.4rem;
    }


    /* logos de registrarse y carrito de compras */
    .logos {
        display: none;
    }

    .logos img {
        display: none;
    }


    /* titulos de las paginas */
    main h1 {
        margin-top: 0.1rem;
    }


    /* pagina home */
    .slider-principal img {
        display: none;
    }


    /* slider principal mobie */
    .slider-principal-mobie img {
        display: block;
        width: 100%;
        height: 100%;
    }


    /* titulo de las categorias de la home */
    .titulo-categorias {
        margin: 0.2rem 0 1.1rem 0;
    }


    /* tamaño de las tarjetas de las categorias de la home */
    .tarjeta-categoria {
        width: 90%;
    }


    /* estilos de las tarjetas Home */
    .categorias {
        flex-direction: column;
    }


    /* cinta de la home */
    .cinta {
        font-size: larger;
        padding: 0.5rem;
    }


    /* titulos de las paginas nosotros-tienda-dudas-contacto */
    .titulo-sitio,
    .tienda-sitio,
    .dudas-sitio,
    .contacto-sitio {
        font-size: 160%;
    }



    /* estilos tarjetas Tienda */
    .categoria-peces-frios,
    .categoria-peces-tropicales,
    .categoria-accesorios {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .peces-frios img,
    .peces-tropicales img,
    .accesorios-peceras img {
        height: 8rem;
        margin: 0.63rem 0.26rem 1.32rem 0.15rem;
    }


    /* boton de agregar al carrito */
    .boton-carrito {
        font-size: 1rem;
    }


    /* titulo del precio */
    .titulo-del-precio {
        margin-top: 0.5rem;
        margin-bottom: 0.80rem;
    }


    /* pagina dudas */
    .preguntas p {
        margin: 2rem 4rem 3rem 4rem;
    }


    /* estilo del contenido de la pagina nosotros*/
    .biografia-sitio {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }


    /* estilo de la imagen de la biografia */
    .imagen-biografia img {
        border-radius: 3.15rem;
        width: 100%;
    }


    /* pagina nosotros-video de la biografia */
    .video-biografia {
        display: none;
    }


    /* estilo del texto de contacto*/
    .contacto-uno p {
        font-size: 1rem;
        margin: 2rem 3rem 2rem 3rem;
    }

    /* estilo del formulario */
    .fieldset {
        width: 12%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        border: none;
        gap: 0.32rem;
    }

    .fieldset input {
        width: 390%;
    }


    /* estilos de la imagen de la ubicación del local */
    .ubicacion-local img {
        width: 80%;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
        border-radius: 2rem;
        display: flex;
    }


    /* estilos del footer */
    footer {
        padding: 2rem;
    }



    /* footer links */
    .footer-links {
        display: flex;
        justify-content: center;
        padding: 1.5rem;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }


    /* footer iconos de los metodos de pagos */

    .iconos-pagos {
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    /* estilo del titulos redes sociales */
    .block-redes {
        display: flex;
        flex-direction: column;
    }


    /* footer legales */
    .footer-legales {
        margin-top: 4rem;
    }
}