// reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// color del sitio

body {
    background-image: linear-gradient(to bottom, rgb(234, 243, 246), rgb(181, 231, 248));
    font-family: 'Montserrat', sans-serif;
}


//importar archivos secundarios
@import "variables/variables";
@import "variables/extend";
@import "variables/mixin";


//importar archivos
@import "header/header";
@import "footer/footer";
@import "index/index";
@import "tienda/tienda";
@import "nosotros/nosotros";
@import "dudas/dudas";
@import "contacto/contacto";
@import "utilidades/mq";
