@import "../variables/variables";
@import "../variables/mixin";
@import "../variables/extend";


.main-index{

    /* estilos slider principal home*/
    .slider-principal img {
        @include medidas (100%, 100%)
    }

    /* slider principal mobie */
    .slider-principal-mobie img {
        display: none;
    }

    /* cinta de la home */
    .cinta {
        background-color: $color-secundario;
        margin-bottom: 1.26rem;
        padding: 0.4rem;
    }
}

.section-index {

    /* titulo de las categorias de la home */
    .titulo-categorias {
        text-align: center;
        margin: 0.63rem 0 1.26rem 0;
        text-decoration: underline;
        font-size: 190%;
    }
}

/* estilos de las tarjetas Home */
.section-index-tarjetas {
    width: 100%;
    @include flex;

    /* tamaño de las tarjetas de las categorias de la home */
    .tarjeta-categoria {
        width: 33%;
        padding: 0.63rem;
    }

    /* estilos de textos tarjetas Home */
    .texto-tarjeta {
        text-align: center;
        @extend %letra;
        font-size: 1.26rem;
    }

}


@import "utilidades/mq.scss";