@import "../variables/variables";
@import "../variables/mixin";
@import "../variables/extend";

/* color del header */
header {
    background: $color-principal;
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;

    nav {

        /* barra de navegacion */
        ul {
            list-style: none;
            display: flex;
            gap: 1.1rem;

            li {
                background: $color-secundario;
                padding: 0.40rem;
                border-radius: 0.80rem;
                margin-top: 1.26rem;
                @extend %letra;

                a {
                    text-decoration: none;
                }
            }
        }
    }

    /* estilos del nombre principal de la pagina*/
    .nombre-logo {
        @extend %letra;
        font-size: 120%;
        margin-top: 0.5rem;
        margin-right: 0.7rem;
        text-decoration: none;
        color: black;
    }

    /* estilos para la barra de navegacion movile */
    .barra-de-navegacion {
        width: 100%;
    }

    /* logos de registrarse y carrito de compras */
    .logos {
        @include flex;
        gap: 1.6rem;
    }

    .logos img {
        @include medidas (1.8rem, 1.8rem)
    }
}

main {

    /* estilos slider principal home*/
    .slider-principal img {
        @include medidas (100%, 100%)
    }

    /* slider principal mobie */
    .slider-principal-mobie img {
        display: none;
    }

    /* cinta de la home */
    .cinta {
        background-color: $color-secundario;
        margin-bottom: 1.26rem;
        padding: 0.4rem;
    }
}

section {

    /* titulo de las categorias de la home */
    .titulo-categorias {
        text-align: center;
        margin: 0.63rem 0 1.26rem 0;
        text-decoration: underline;
        font-size: 190%;
    }
}

/* estilos de las tarjetas Home */
section {
    width: 100%;
    @include flex;

    /* tamaño de las tarjetas de las categorias de la home */
    .tarjeta-categoria {
        width: 33%;
        padding: 0.63rem;
    }

    /* estilos de textos tarjetas Home */
    .texto-tarjeta {
        text-align: center;
        @extend %letra;
        font-size: 1.26rem;
    }

}

/* estilos del footer */
footer {
    background: $color-secundario;
    padding: 0, 32rem;

    /* footer links */
    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 1.5rem;
    }

    /* estilo de los links de las paginas*/
    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* titulo del footer */
    h2 {
        font-size: 1.5rem;
    }

    /* estilo de los link´s del footer */
    ul {
        list-style: none;
        padding: 0.19rem;
    }

    a {
        text-decoration: none;
    }


    /* footer iconos de los metodos de pagos */
    .iconos-pagos {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        img {
            width: 6%;
        }
    }


    /* estilo del titulos redes sociales */
    .block-redes {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

    /* footer redes sociales */
    .redes-sociales {
        display: flex;
        justify-content: center;
        gap: 18px;
    }

    /* footer legales */
    .footer-legales {
        background: rgb(180, 225, 255);
        text-align: center;
        margin-top: 1.89rem;
    }
}

/* responsive para tablet */

@import "../utilidades/mq";